@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

i {
  color: #fff;
}

.body-container {
  height: 100vh;
  display: flex;
}

.sidebar {
  background: #11101d;
  padding: 1rem 1.6rem;
  height: 100%;
  width: 7.2rem;
  transition: all 0.4s ease;
}

.open {
  width: 25rem;
}

.sidebar .logo-container {
  display: flex;
  position: relative;
  align-items: center;
}

.sidebar .logo-container .logo-name {
  font-size: 2.6rem;
  color: #fff;
  font-weight: 600;
  transform: translateY(0.35rem);
}

.sidebar .logo-container #menu-button {
  position: absolute;
  top: 0.8rem;
  right: 0;
  cursor: pointer;
}

.sidebar .logo-container i {
  padding: 0 1.3rem;
  margin-right: 0.1rem;
}

.sidebar ul {
  margin-top: 2.4rem;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  height: 6rem;
  width: 100%;
  margin: 0 0.5rem;
}

.sidebar ul li a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 15px;
  /* column-gap: 3rem; */
  transition: all 0.4s ease;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding: 0.5rem;
  font-size: 2rem;
  color: #fff;
  position: relative;
  /* text-align: center; */
  text-indent: 4.4rem;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1.38rem;
  transform: translateY(-50%);
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar ul li a i {
  height: 5rem;
  min-width: 5rem;
  border-radius: 1.5rem;
  line-height: 5rem;
  text-align: center;
}

.sidebar.open ~ .main-area {
  left: 25rem;
  width: calc(100% - 25rem);
}

.main-area {
  background: #e4e9f7;
  min-height: 100vh;
}

/* Above code adjusts the width of the main-area when sidebar is opened/closed */
