@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --sidebar-color: #11101d;
  --main-area-color: #e4e9f7;
  --inputField-color: #1d1b31;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.body-container {
  display: flex;
}

.sidebar {
  width: 25rem;
  background: var(--sidebar-color);
  color: #fff;
  height: 100vh;
  padding: 1.4rem;
}

.main-area {
  background: var(--main-area-color);
  width: 100%;
}

.sidebar .logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  column-gap: 1rem;
}

.sidebar .logo-container .logo-name {
  font-size: 2.4rem;
  font-weight: 600;
}

.sidebar .nav-list {
  height: 100%;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  position: relative;
  margin-bottom: 0.8rem;
}

.sidebar input {
  font-size: 1.6rem;
  background-color: var(--inputField-color);
  outline: none;
  border: none;
  height: 5rem;
  width: 100%;
  border-radius: 1.2rem;
  padding: 0 2rem 0 5rem;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 2.4rem;
  background: #1d1b31;
  color: #fff;
}

/* .sidebar input:hover {
  background-color: #ff4;
} */

.sidebar ul a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 1.2rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  column-gap: 1.4rem;
}

.sidebar ul a:hover {
  background: #fff;
}

.sidebar li i {
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.8rem;
  border-radius: 1.2rem;
}

.sidebar li .links_name {
  font-size: 1.6rem;
  color: #fff;
}
